RewriteEngine On

#RewriteRule ^(app|dict|ns|tmp)\/|\.ini$ - [R=404]
#RewriteBase /FFF-ImageServer/
#FallbackResource /FFF-ImageServer/index.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule .* index.php [L,QSA]
