@charset "UTF-8";
.intro .heading-count h2 {
  margin-top: 20px;
  margin-left: 170px;
  font-size:65px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}


.section-title {
  margin-top: 40px;
  font-size: 50px;
  color: #333;
  line-height: 52px;
  padding-bottom: 30px;
  font-weight: 700;
  text-align: center;
  position: relative;
  font-family: 'Permanent Marker', cursive;
}

.section-info p{
	font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
}

.section-title2{
	font-size: 45px;
	margin-top: 100px;
	font-family: 'Permanent Marker', cursive;
}

.section-info2{
	font-size: 22px;
	margin-left: 150px;
	margin-top: 70px;
	font-family: 'Ubuntu', sans-serif;
}

.team-item .info-text h3 {
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 10px;
	margin-left: auto;
  font-family: 'Permanent Marker', cursive;
}

.team-item .info-text p {
  margin: 0;
  color: #888;
  font-family: 'Ubuntu', sans-serif;
}

.btn-dark{
	background: #ae4a51;
	border: none;
	border-radius: 25px;
	font-size: 18px;
	width: 170px;
	height: 55px;
	font-family: 'Jua', sans-serif;
}

.page-section h4{
	font-size: 30px;
	font-family: 'Permanent Marker', cursive;
}

.page-section p{
	font-family: 'Ubuntu', sans-serif;
}

.page-footer{
	font-family: 'Ubuntu', sans-serif;
}



.info-text2 h2{
	font-size: 37px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: 'Permanent Marker', cursive;
}

.info-text3 h2{
	font-size: 37px;
	margin-left: 95px;
	margin-bottom: -35px;
	color: #000000;
	font-family: 'Permanent Marker', cursive;
}

.info-text3 p{
	font-size: 20px;
	color: #000000;
	margin-left: 420px;
	margin-top: 50px;
	font-family: 'Ubuntu', sans-serif;
}


.accent-black{
	font-size: 18px;
	color: #000000;
	font-weight: 300;
	margin-top: 20px;
	margin-left: -2px;
	
}


/*<!--view_upload -->*/
.text-center h3 {
    margin-left: 20px;
	margin-top: -60px;
	margin-bottom: 15px;
    color: #d5403f;
    font-size: 35px;
	font-family: 'Permanent Marker', cursive;
}

.box h2{
	font-size: 25px;
	color: #000000;
	font-weight: 300;
	margin-top: 20px;
	margin-left: -25px;
	font-family: 'Permanent Marker', cursive;
}

.box2 h3 {
    margin-left: 63px;
	margin-top: 10px;
    color: #d5403f;
    font-size: 18px;
	font-family: 'Permanent Marker', cursive;
}

.accent-black2{
	font-size: 15px;
	color: #d5403f;
	font-weight: 300;
	margin-top: 0px;
	margin-left: 40px;
	font-family: 'Ubuntu', sans-serif;
}

.select-file-upload{
	font-family: 'Ubuntu', sans-serif;
}

.accent2{
	color: #d5403f;
	font-size: 25px;
	margin-left: 0px;
	font-weight: 350;
	line-height: 23px;
	font-family: 'Permanent Marker', cursive;
}

.accent-black{
	font-size: 18px;
	color: #000000;
	font-weight: 300;
	margin-top: 20px;
	margin-left: -2px;
	font-family: 'Permanent Marker', cursive;
}

h4.text-center.my-2{
	font-size:1.3em;
	font-family: 'Permanent Marker', cursive;
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
	font-family: 'Permanent Marker', cursive;
}